.services {
  background-color: #fffdfd;
}
.services__container {
  padding-top: 157px;
  padding-bottom: 157px;
  @include media($sm) {
    padding-top: 57px;
  }
}

.services__title {
  margin-bottom: 82px;
  @include media($sm) {
    margin-bottom: 40px;
  }
}
.services__list {
}
